<launch>
  <arg
    name="model" default="$(find swcr_main)/urdf/swcr_main.urdf.xacro"/>
  <arg
    name="gui"
    default="false" />
  <param name="robot_description" command="xacro --inorder '$(find swcr_main)/urdf/swcr_main.urdf.xacro'"/>
  <include file="$(find swcr_main)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)"/>
  </include>
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find swcr_main)/urdf.rviz" required="true"/>
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <rosparam command="load" file="$(find swcr_main)/config/swcr_state.yaml"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="swcr_velocity_controller swcr_joint_publisher"/>

</launch>