<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg
    name="model" default="$(find swcr_main)/urdf/swcr_main.urdf.xacro"/>
 
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find swcr_main)/urdf/swcr_main.urdf.xacro'"/>
  <include file="$(find swcr_main)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)"/>
  </include>
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find swcr_main)/urdf.rviz" required="true"/>
  <rosparam command="load" file="$(find swcr_main)/config/swcr_state.yaml"/>
  <rosparam command="load" file="$(find swcr_main)/config/swcr.yaml"/>

  <node name="swcr_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="/swcr/swcr_velocity_controller /swcr/swcr_joint_publisher"/>
   <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
  <param name="default_topic" value="/swcr/swcr_velocity_controller/cmd_vel"/>
  </node>
  <!--<node name="cmd_vel_relay" type="relay" pkg="topic_tools" args="/cmd_vel /swcr_velocity_controller/cmd_vel" />
    <node name="odom_relay" type="relay" pkg="topic_tools" args="/swcr_velocity_controller/odom /odom" />-->
</launch>